/* stylelint-disable */

// BREAKPOINTS
$xs: 375px;
$lg: 1440px;

// FONT SIZES
$tiny: 14px;
$small: 16px;
$medium: 18px;
$large: 20px;
$huge: 24px;
$enormous: 36px;

// COLORS
$dark_blue: hsl(209, 23, 22);
$very_dark_blue: hsl(207, 26, 17);
$very_dark_blue--alt: hsl(200, 15, 8);
$dark_gray: hsl(0, 0, 52);
$very_light_gray: hsl(0, 0, 98);
$white: hsl(0, 0, 100);

// FONTS
$font_light: 'Nunito-light', sans-serif;
$font_semibold: 'Nunito-SemiBold', sans-serif;
$font_bold: 'Nunito-Bold', sans-serif;

// OTHERS
$subtle_shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.09);

/* stylelint-enable */
