@import '../variables';

.Dropdown {
  width: 60%;
  min-width: 207px;
  margin-bottom: 20px;
  max-width: 300px;

  @media screen and (min-width: 992px) {
    width: 50%;
  }

  &__Selection {
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 20px;
    font-family: $font_light;
    color: $dark_gray;
    font-size: $small;
    border-radius: 6px;
    box-shadow: $subtle_shadow;
    box-sizing: border-box;

    &:focus,
    &:active {
      border: none;
      outline: none;
    }
  }

  &__Selection::placeholder {
    color: $dark_gray;
    font-family: $font_light;
    font-size: $small;
  }

  &__Option {
    font-family: $font_light;
    cursor: pointer;
    color: $dark_gray;
    font-size: $small;
    transition: 0.3s ease-out;
    padding: 8px 20px 8px 60px;

    &:hover {
      background-color: darken($white, 5);
    }

    @media screen and (min-width: 992px) {
      font-size: $medium;
    }
  }

  &__Options-container {
    display: none;
    opacity: 0;
    transition: 0.3s ease-out;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 6px;
    top: 64px;
    background-color: $white;
    z-index: 1;
  }

  /* stylelint-disable */

  svg {
    position: absolute;
    width: 14px;
    right: 37px;
    top: calc(50% - 11px);
    opacity: 0.23;
    transition: 0.3s ease-out;
    transform: rotate(180deg);
    cursor: pointer;
  }

  .Dropdown__Container--is-Active svg {
    transform: rotate(0deg);
  }

  /* stylelint-enable */

  &__Container {
    width: 100%;
    position: relative;
    &--is-Active {
      .Dropdown__Options-container {
        display: block;
        opacity: 1;
        box-shadow: $subtle_shadow;
      }
    }
  }
}

.Layout--dark {
  .Dropdown__Selection {
    background-color: $very_dark_blue;
    color: $white;
    transition: 0.3s ease-in-out;

    &::placeholder {
      color: $white;
    }
  }

  .Dropdown__Option {
    color: $white;

    &:hover {
      background-color: lighten($very_dark_blue, 5);
    }
  }

  .Dropdown__Options-container {
    background-color: $very_dark_blue;
  }

  /* stylelint-disable */

  svg {
    color: $white;
    opacity: 1;
    transition: 0.3s ease-in-out;
  }

  /* stylelint-enable */
}
