@import '../variables';

.SearchBar {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 16px;
  max-width: 500px;

  @media screen and (min-width: 992px) {
    width: 50%;
    max-width: 500px;
    margin-bottom: 0;
  }

  &__Inner {
    box-shadow: $subtle_shadow;
  }

  &__Input {
    border-radius: 6px;
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 20px 15px 60px;
    box-sizing: border-box;
    color: $dark_gray;
    font-family: $font_light;
    font-size: $small;
  }

  &__Input::placeholder {
    color: $dark_gray;
    font-family: $font_light;
    font-size: $small;
  }

  &__Icon {
    width: 16px;
    position: absolute;
    top: calc(50% - 8px);
    left: 20px;
    z-index: 0;
    opacity: 0.23;

    @media screen and (min-width: 992px) {
      top: calc(50% - 16px);
    }
  }
}

.Layout--dark {
  .SearchBar__Input {
    background-color: $very_dark_blue;
    color: $white;
    transition: 0.3s ease-in-out;

    &::placeholder {
      color: $white;
    }
  }
}
