@import '../variables';

.ThemeToggler {
  display: flex;
  align-items: center;
  font-size: $tiny;
  color: $very_dark_blue--alt;
  font-family: $font_semibold;
  cursor: pointer;

  &:focus,
  &:active {
    outline: none;
    border: none;
  }

  @media screen and (min-width: 992px) {
    font-size: $medium;
  }

  /* stylelint-disable */

  svg {
    width: 16px;
    margin-right: 8px;
  }

  /* stylelint-enable */
}

.Layout--dark {
  .ThemeToggler {
    color: $white;
  }
}
