@import '../variables';

.ErrorPage {
  width: 100%;
  height: calc(100vh - 87px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: $font_bold;
  font-size: $huge;
  color: $dark_gray;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: $enormous;
  }
}
