@import '../variables';

.Header {
  padding: 30px 15px;
  box-shadow: $subtle_shadow;
  position: relative;
  transition: 0.3s ease-in-out;

  &__Inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;

    @media screen and (min-width: 768px) {
      width: 80%;
    }

    @media scren and (min-width: 1140px) {
      max-width: 1140px;
    }
  }

  /* stylelint-disable */

  &__Title {
    a {
      font-size: $small;
      color: $very_dark_blue;
      font-weight: 800;
      font-family: $font-bold;
      text-decoration: none;
      text-decoration: none;

      @media screen and (min-width: 992px) {
        font-size: $large;
      }
    }
  }
}

.Layout--dark {
  .Header {
    background-color: $very_dark_blue;
    transition: 0.3s ease-in-out;
    &__Title a {
      color: $white;
    }
  }
}

/* stylelint-enable */
