@import '../variables';

.Main {
  background-color: $very_light_gray;
  padding: 0 15px;
  min-height: calc(100vh - 87px);

  &__Container {
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      width: 80%;
    }

    @media screen and (min-width: 1140px) {
      max-width: 1140px;
    }
  }
}
